@model nReddit.Models.Subreddit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Dodaj nowy link", "Create", "Submission")
</p>

<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>

<div class="display-field">
    <table>
        @foreach (var submission in Model.Submissions)
        {
            <tr>
                <td>
                    (@Html.DisplayFor(modelItem => submission.Score))
                    <a href="@Html.DisplayFor(modelItem => submission.Url)" target="_blank">
                        @Html.DisplayFor(modelItem => submission.Title)
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", "Submission", new {
                        id = submission.SubmissionID, subredditID = Model.SubredditID
                    }, null)
                </td>
            </tr>
        }
    </table>
</div>

</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.SubredditID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.SubredditID })
</p>
<p>
    @Html.ActionLink("Powrót", "Index")
</p>
