@model nReddit.Models.Submission

@{
    ViewBag.Title = "Usuwanie";
}

<h2>@ViewBag.Title</h2>

<h3>Czy jesteś pewien że chcesz usunąć link?</h3>
<fieldset>
    <legend>Link</legend>

    <div class="display-label">Url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">Tytuł</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Opis</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">Głosy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>

    <div class="display-label">Autor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót", "Details", new { id = Model.SubmissionID })
    </p>
}
