@model nReddit.Models.Submission

@{
    ViewBag.Title = "Details";
}

<table width="100%">
<tr style="font-size: x-large">
<td width="20">
    @using (Html.BeginForm("Upvote", "Submission", new { id = Model.SubmissionID})) {
        <input type="submit" value="&#8679;" style="background: none; border-width: 0px; color: blue;" />
    }
</td>
<td width="20">
    @using (Html.BeginForm("Downvote", "Submission", new { id = Model.SubmissionID})) {
        <input type="submit" value="&#8681;" style="background: none; border-width: 0px; color: blue;" />
    }
</td>
<td>
    (@Html.DisplayFor(modelItem => Model.Score))
    <a href="@Html.DisplayFor(modelItem => Model.Url)" target="_blank">
        @Html.DisplayFor(modelItem => Model.Title)
    </a>
</td>
</tr>
<tr>
<td colspan="2"></td>
<td>
    @Html.DisplayFor(modelItem => Model.Text)
</td>
</tr>
</table>

<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.SubmissionID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.SubmissionID })
</p>
<p>
    @Html.ActionLink("Przejdź do kategorii", "Details", "Subreddit", new { id = Model.SubredditID }, null)
</p>
