@model nReddit.Models.Submission

@{
    ViewBag.Title = "Details";
}

<fieldset>
    (@Html.DisplayFor(modelItem => Model.Score))
    <a href="@Html.DisplayFor(modelItem => Model.Url)" target="_blank">
        @Html.DisplayFor(modelItem => Model.Title)
    </a><br />
    @Html.DisplayFor(modelItem => Model.Text)

</fieldset>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.SubmissionID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.SubmissionID })
</p>
<p>
    @Html.ActionLink("Powrót", "Details", "Subreddit", new { id = Model.SubredditID }, null)
</p>
