@model nReddit.Models.Submission

@{
    ViewBag.Title = "Details";
}

<table width="100%">
<tr style="font-size: x-large">
<td width="20">
    @using (Html.BeginForm("Upvote", "Submission", new { id = Model.SubmissionID})) {
        <input type="submit" value="&#8679;" style="background: none; border-width: 0px; color: blue;" />
    }
</td>
<td width="20">
    @using (Html.BeginForm("Downvote", "Submission", new { id = Model.SubmissionID})) {
        <input type="submit" value="&#8681;" style="background: none; border-width: 0px; color: blue;" />
    }
</td>
<td>
    (@Html.DisplayFor(modelItem => Model.Score))
    <a href="@Html.DisplayFor(modelItem => Model.Url)" target="_blank">
        @Html.DisplayFor(modelItem => Model.Title)
    </a>
    <br />
    <span style="font-size: medium">Dodane przez: @Html.DisplayFor(modelItem => Model.Username)
    Do: @Html.DisplayFor(modelItem => Model.Subreddit.Name)</span>
</td>
</tr>
<tr>
<td colspan="2"></td>
<td>
    @Html.DisplayFor(modelItem => Model.Text)
</td>
</tr>
</table>

@if (Model.Comments.Count == 0)
{
    <p>Brak komentarzy</p>
}
else
{
<span>&nbsp;</span><br />
<table width="100%">
    @foreach (var comment in Model.Comments)
    {
        <tr>
            <td>
                Użytkownik <b>@Html.DisplayFor(modelItem => comment.Username)</b> pisze:
                <br />
                @Html.DisplayFor(modelItem => comment.Content)
            </td>
        </tr>
    }
</table>
}

<p>
    @Html.ActionLink("Dodaj komentarz", "Create", "Comment", new { id = Model.SubmissionID }, null)
</p>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.SubmissionID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.SubmissionID })
</p>
<p>
    @Html.ActionLink("Przejdź do kategorii", "Details", "Subreddit", new { id = Model.SubredditID }, null)
</p>
