@model IEnumerable<nReddit.Models.Submission>

@{
    ViewBag.Title = "Wyszukiwanie";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {   
    <p>
        Tytuł: @Html.TextBox("SearchString") 
        <input type="submit" value="Szukaj" />
    </p>
}

@if (@ViewBag.ShowMessage)
{
    <p>Podana fraza nie została znaleziona.</p>
}
<table width="100%">
    @foreach (var submission in Model.OrderByDescending(x => x.Score))
    {
        <tr>
            <td>
                (@Html.DisplayFor(modelItem => submission.Score))
                <a href="@Html.DisplayFor(modelItem => submission.Url)" target="_blank">
                    @Html.DisplayFor(modelItem => submission.Title)
                </a>
                &nbsp;
                @Html.ActionLink("więcej...", "Details", "Submission", new {
                    id = submission.SubmissionID
                }, null)
            </td>
        </tr>
    }
</table>
